<div class="about">
  <h1>About</h1>
<p>
This is an application that consumes data from fake online REST API <a href="https://jsonplaceholder.typicode.com">JSONPlaceholder</a> and then shows all available doctors, their details and corresponding tasks.
<br>
The application uses latest Angular and Karma.
<br>
<br>
<strong>API links:</strong> <br>
<u>Doctors</u>: <a href="https://jsonplaceholder.typicode.com/users">https://jsonplaceholder.typicode.com/users</a>
<br>
<u>Tasks</u>: <a href="https://jsonplaceholder.typicode.com/todos">https://jsonplaceholder.typicode.com/todos</a>
<br>
<u>Tasks by doctor id</u>: <a href="https://jsonplaceholder.typicode.com/users/1/todos">https://jsonplaceholder.typicode.com/users/1/todos</a>
</p>
</div>
